
/*.card:hover {
  border-radius: 10px;
  border: none;
  transform: translate(0px, -10px);
  box-shadow: 0 20px 20px 6px #0c4fab;
  color: white;
}*/
/*.card::before {
  content: "";
  background-color: #6d95cc;
  width: 100%;
  height: 0%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: 0.7s;
}*/
*{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;

}
.card:hover::before {
  width: 100%;
  border-radius: 5px;
}


.img-pop:hover {
  transform: rotate(-5deg);
  border-radius: 10px;
}
.btn {
  text-decoration: none;
border-radius: 15px;
height: 35px;
width: 200px;


}



.pop-container {
  display: none;
  z-index: 1000;
  border-radius: 15px;
  overflow: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop-content {
  width: 750px;
  box-shadow: 0 0 30px 6px #6d95cc;
  margin: 23px auto;
}
.close-btn {
  top: -20px;
  left: -20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  padding: 5px 13px;
}
.active {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1000;
}
#aa{

background-color: rgb(223, 16, 16);
border-radius: 15px;
color: white;

}

#text1{

background-color: #6d95cc;
color: white;
height: 50px;
border-radius: 15px;

}
.col-lg-4 {
  margin-bottom: 20px;
}

figure.snip1195 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 400px;
    max-width: 480px;
    width: 100%;
    background: #5088db;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1195 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
figure.snip1195 .image {
    background-color: #000000;
    width: 50%;
    overflow: hidden;
}
figure.snip1195 img {
    max-width: 100%;
    vertical-align: top;
}
figure.snip1195 figcaption {
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px 35px;
}
figure.snip1195 h4,
figure.snip1195 p,
figure.snip1195 .price {
    margin: 0 0 8px;
}
figure.snip1195 h4 {
    position: absolute;
    width: 50%;
    top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1px;
    z-index: 1;
}
figure.snip1195 p {
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1.6em;
}
figure.snip1195 .rating {
    position: absolute;
    width: 50%;
    line-height: 44px;
    color: #ffffff;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
figure.snip1195 .price {
    color: #ffffff;
    font-size: 1.3em;
    opacity: 0.8;
}
figure.snip1195 .price s {
    display: inline-block;
    padding: 0 8px 0 0;
    font-size: 0.85em;
    color: #f39c12;
}
figure.snip1195 .add-to-cart {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 44px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #ffffff;

}

figure.snip1195:hover img,
figure.snip1195.hover img {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure.snip1195:hover .add-to-cart,
figure.snip1195.hover .add-to-cart {
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-counter{
    display:inline-block;
    width:20px;
    opacity:1;
    height:20px;
    background:#ddd;
    text-align:center;
    border-radius:50%;
    margin-left:10px;

}


.landing{
    height: 100vh;
}
.home {
    height: 80vh;
    width: 95%;
    margin-top: 20px;
    margin-left: 40px;
    background: rgba(0, 128, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

@media(max-width:550px){
    .home{
        height: 140vh;
        width:90%;
        height:70vh;

    }
    .img1{
        position: absolute;
        width: 80%;


    }
    .card1{
        width: 80%;
    }
    .card2 {
        margin-left: 10%;
    }
    .card11{
        margin-left: 10%;
    }
    .card3{
        margin-left: 10%;
    }
    .skills{
        height: 160vh;
    }
    .img2{
        display: none;
    }}

.cardsection{

}
